<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Historial de Actividades</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Historial</a>
            </li>
            <li class="active">
                <strong>
                    Actividades
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRight ecommerce">

        <!--<div class="ibox-content m-b-sm border-bottom">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="form-group margin-top&#45;&#45;10">-->
                        <!--<h3>Nombre Cliente</h3>-->
                        <!--<ui-select ng-model="customer.selected" ng-change="loadDocuments(customer.selected)" theme="bootstrap">-->
                            <!--<ui-select-match placeholder="Nombre Cliente, Cedula o RNC">{{$select.selected.name |-->
                                <!--uppercase}}-->
                            <!--</ui-select-match>-->
                            <!--<ui-select-choices repeat="customer in customers"-->
                                               <!--refresh-delay="250"-->
                                               <!--refresh="refreshCustomers($select.search)">-->
                                <!--<div ng-bind-html="customer.name.toUpperCase()"></div>-->
                                <!--<small ng-bind-html="customer.clientId.toString().toUpperCase() | highlight: $select.search"></small>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-2">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label" for="customerIndividualId">Cedula o RNC</label>-->
                        <!--<input type="text"-->
                               <!--id="customerIndividualId"-->
                               <!--ng-model="customerIndividualId"-->
                               <!--ng-enter="doFilter('customerIndividualId', customerIndividualId)"-->
                               <!--class="form-control integer">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-2">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label" for="phone">Telefono</label>-->
                        <!--<input type="text"-->
                               <!--id="phone"-->
                               <!--ng-model="phone"-->
                               <!--ng-enter="doFilter('phone', phone)"-->
                               <!--class="form-control integer">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label"-->
                               <!--for="customerType">Tipo de Cliente</label>-->
                        <!--<select name="customerType"-->
                                <!--id="customerType"-->
                                <!--ng-model="customerType"-->
                                <!--ng-change="doFilter('customerType', customerType)"-->
                                <!--class="form-control">-->
                            <!--<option value=""></option>-->
                            <!--<option value="EMPRESA">EMPRESA</option>-->
                            <!--<option value="PERSONA FISICA">PERSONA FISICA</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 no-padding">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Lista de Actividades de Usuarios</h5>
                            </div>
                            <div class="ibox-content">

                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Mensaje</th>
                                        <th>Tipo</th>
                                        <th>Alcance</th>
                                        <th>Responsable</th>
                                        <th>IP</th>
                                        <th>Documento</th>
                                        <th>Fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="log in logs">
                                        <td>
                                            <label class="label label-{{log.actionClass}}">
                                                {{(log.action | uppercase) || "- - -"}}
                                            </label>
                                        </td>
                                        <td class="text-capitalize">
                                            {{log.message || '- - -'}}
                                        </td>
                                        <td>
                                            <label class="label label-{{log.typeClass}}">
                                                {{(log.type | uppercase) || "- - -"}}
                                            </label>
                                        </td>
                                        <td>
                                            {{(log.scope) || '- - -'}}
                                        </td>
                                        <td>
                                            {{log.user.name || "- - -"}}
                                        </td>
                                        <td>
                                            {{log.ip || "- - -"}}
                                        </td>
                                        <td>
                                            {{(log.document) || '- - -'}}
                                        </td>
                                        <td>
                                            {{(log.date | date) || 'Not Set'}}
                                        </td>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <!--<ul class="pagination pull-right"></ul>-->
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div style="text-align: center;" class="row">
                                    <div class="pager-box">
                                        <a title="Inicio"
                                           ng-disabled="pager.page === 0"
                                           ng-click="pager.page = 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-backward"></i>
                                        </a>
                                        <a title="Previo"
                                           ng-click="pager.page = pager.page - 1"
                                           ng-disabled="pager.page === 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-backward"></i>
                                        </a>
                                        <span class="page-separator"></span>
                                        <span class="page-text">Página</span>
                                        <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPage(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                        <span class="page-text">de {{pager.totalPages}} </span>
                                        <span class="page-separator"></span>
                                        <a title="Siguiente"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           ng-click="pager.page = pager.page + 1;"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-forward"></i>
                                        </a>
                                        <a title="Ir al Ultimo"
                                           ng-click="pager.page = pager.totalPages - 1;"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>