<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Historial de Transacciones</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Historial</a>
            </li>
            <li class="active">
                <strong>
                    Transacciones
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="btn-group pull-right custom-print-btn">
            <button type="button"
                    ng-click="load('FAILURE')"
                    class="btn btn-xl btn-danger">
                <i class="fa fa-thumbs-down"></i>
                Fallidos
            </button>
            <button type="button" class="btn btn-xl btn-primary"
                    ng-click="load('')">
                <i class="fa fa-list"></i>
                Todos
            </button>
            <button type="button" class="btn btn-xl btn-success"
                    ng-click="load('SUCCESS')">
                <i class="fa fa-thumbs-up"></i>
                Exitosos
            </button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 no-padding">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Lista de Actividades de Usuarios</h5>
                            </div>
                            <div class="ibox-content">

                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th>Método</th>
                                        <th>Mensaje</th>
                                        <th>Resultado</th>
                                        <th>Responsable</th>
                                        <th>IP</th>
                                        <th>Transacción</th>
                                        <th>Fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="transaction in logs">
                                        <td>
                                            <label class="label label-{{transaction.actionClass}}">
                                                {{(transaction.log.method | uppercase) || "- - -"}}
                                            </label>
                                        </td>
                                        <td class="text-capitalize">
                                            {{transaction.message | limitTo: 45|| '- - -'}}
                                        </td>
                                        <td>
                                            <label class="label label-{{transaction.resultClass}}">
                                                {{(transaction.result | uppercase) || "- - -"}}
                                            </label>
                                        </td>
                                        <td>
                                            {{transaction.log.user.name || "- - -"}}
                                        </td>
                                        <td>
                                            {{transaction.log.ipAddress || "- - -"}}
                                        </td>
                                        <td>
                                            {{(transaction.log.type) || '- - -'}}
                                        </td>
                                        <td>
                                            {{(transaction.date | date) || 'Not Set'}}
                                        </td>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <!--<ul class="pagination pull-right"></ul>-->
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div style="text-align: center;" class="row">
                                    <div class="pager-box">
                                        <a title="Inicio"
                                           ng-disabled="pager.page === 0"
                                           ng-click="pager.page = 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-backward"></i>
                                        </a>
                                        <a title="Previo"
                                           ng-click="pager.page = pager.page - 1"
                                           ng-disabled="pager.page === 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-backward"></i>
                                        </a>
                                        <span class="page-separator"></span>
                                        <span class="page-text">Página</span>
                                        <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPage(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                        <span class="page-text">de {{pager.totalPages}} </span>
                                        <span class="page-separator"></span>
                                        <a title="Siguiente"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           ng-click="pager.page = pager.page + 1;"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-forward"></i>
                                        </a>
                                        <a title="Ir al Ultimo"
                                           ng-click="pager.page = pager.totalPages - 1;"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>