<div class="padding-30">
    <form role="form" ng-submit="doSave()">
        <fieldset ng-disabled="!edit">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="invoiceNo">Número de Factura</label>
                        <input type="text"
                               id="invoiceNo"
                               ng-blur="validateMe()"
                               ng-enter="validateMe()"
                               ng-model="invoice.invoiceNo"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label>Fecha de Entrada</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   disabled
                                   date-time
                                   min-view="date"
                                   ng-model="invoice.startDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label>Fecha Emisión</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   date-time
                                   min-view="date"
                                   ng-model="invoice.endDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Póliza</label>
                        <ui-select ng-disabled="!edit"
                                   ng-model="invoice.insurance"
                                   ng-change="updatePrime(invoice.insurance)"
                                   theme="bootstrap">
                            <ui-select-match>{{$select.selected.insuranceNumber | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="insurance in insurances | filter: $select.search">
                                <div ng-bind-html="insurance.insuranceNumber.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="insurance.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5ths">
                    <div class="form-group">
                        <label class="control-label" for="type">Tipo de Factura</label>
                        <select ng-model="invoice.type"
                                required="required"
                                class="form-control"
                                id="type">
                            <option value="EMISSION">Emisión</option>
                            <option value="RENEWAL">Renovación</option>
                            <option value="INCREASE">Aumento</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5ths">
                    <div class="form-group">
                        <label for="prime">Prima Total</label>
                        <input type="text"
                               title="Prima"
                               id="prime"
                               format="number"
                               ng-model="invoice.prime"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-5ths">
                    <div class="form-group">
                        <label for="prime">Balance</label>
                        <input type="text"
                               disabled
                               title="Balance"
                               id="balance"
                               format="number"
                               ng-model="invoice.balance"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-5ths">
                    <div class="form-group">
                        <label for="beginningDate">Fecha Inicio</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   date-time
                                   ng-year="invoice.dueDate"
                                   id="beginningDate"
                                   min-view="date"
                                   ng-model="invoice.beginningDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5ths">
                    <div class="form-group">
                        <label for="dueDate">Fecha Vencimiento</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   date-time
                                   id="dueDate"
                                   min-view="date"
                                   ng-model="invoice.dueDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Notas</label>
                        <textarea rows="1"
                                  title="Notes"
                                  ng-model="invoice.notes"
                                  class="form-control no-resizeable">
                        </textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div ng-hide="hidden" class="pull-left padding-bottom-20">
                <button class="btn btn-danger"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="deleteItem()"
                        type="button">
                    <i class="fa fa-trash"></i>
                    BORRAR
                </button>

                <button class="btn btn-warning"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="showAuditedItem()"
                        type="button">
                    <i class="fa fa-bug"></i>
                    AUDITAR
                </button>
            </div>

            <div class="pull-right padding-bottom-20">
                <button class="btn btn-success"
                        ng-hide="hidden"
                        ng-disabled="edit === true"
                        ng-click="edit = true"
                        type="button">
                    <i class="fa fa-pencil"></i>
                    EDITAR
                </button>
                <button class="btn btn-danger"
                        ui-sref="customer.detail.step_three.list({id: {{customer.clientId}} })"
                        type="button">
                    <i class="fa fa-warning"></i>
                    <span class="bold">
                CANCELAR
            </span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="edit === false || loading"
                        type="submit">
            <span ng-show="loading">
                LOADING...
                <i class="fa fa-cog fa-spin btn-cog"></i>
            </span>
                    <span ng-hide="loading">
                GUARDAR
            </span>
                </button>
            </div>
        </div>
    </form>
</div>