<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="line-height: .5">{{dependentTitle}}</h4>
    </div>
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-10">
                            <button class="btn btn-default"
                                    ng-click="newModal()"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Agregar Nuevo
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-show="user.role === 'ADMIN'"></th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Genero</th>
                            <th>Parentesco</th>
                            <th>Tipo de Plan</th>
                            <th>Valor Facturado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="dependent in dependents">
                            <td ng-show="user.role === 'ADMIN'">
                                <a class="text-danger" ng-click="delete(dependent.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                            <td>
                                {{dependent.name | uppercase}}
                            </td>
                            <td>
                                {{dependent.gender === 'M'? 'Masculino': 'Femenino'}}
                            </td>
                            <td>
                                {{dependent.age || 0}} Años
                            </td>
                            <td>
                                {{dependent.parent | uppercase}}
                            </td>
                            <td>
                                {{dependent.planType | uppercase}}
                            </td>
                            <td>
                                {{dependent.value | currency}}
                            </td>
                            <td>
                                <button ng-click="editModal(dependent)"
                                        class="btn-white btn btn-xs">
                                    Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-click="$uibModalInstance.close({})"
                    type="button">
                <i class="fa fa-check"></i>
                LISTO
            </button>
        </div>
    </div>
</div>

