<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="line-height: .5">{{localTitle}}</h4>
    </div>
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-10">
                            <button class="btn btn-default"
                                    ng-click="newModal()"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Agregar Nuevo
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th ng-show="user.role === 'ADMIN'"></th>
                            <th>Local</th>
                            <th>Tipo de Contrucción</th>
                            <th>Ubicacion</th>
                            <th>Tipo de Local</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="local in locals">
                            <td ng-show="user.role === 'ADMIN'">
                                <a ng-click="delete(local.id)"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                {{local.name | uppercase}}
                            </td>
                            <td>
                                {{local.buildingType | uppercase}}
                            </td>
                            <td>
                                {{local.address | uppercase}}
                            </td>
                            <td>
                                {{local.type | uppercase}}
                            </td>
                            <td>
                                <button ng-click="editModal(local)"
                                        class="btn-white btn btn-xs">
                                    Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-click="$uibModalInstance.close({})"
                    type="button">
                <i class="fa fa-check"></i>
                LISTO
            </button>
        </div>
    </div>
</div>

