<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{title}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Customer</a>
            </li>
            <li class="active">
                <strong>
                    {{title}}
                </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 ng-hide="isAddMode">
                        <label class="text-capitalize">{{(customer.name | lowercase) || ""}},</label>
                        <label class="underline">Balance: </label>
                        <label class="underline">{{(customer.balance | currency) || '$0.0'}}</label>
                    </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content wizard">

                    <div class="steps clearfix">
                        <ul>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_one" class="btn-default">
                                    <h4 class="center">Cliente</h4>
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_two" class="btn-default">
                                    <h4 class="center">Pólizas</h4>
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_three" class="btn-default">
                                    <h4 class="center"> Facturas</h4>
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_four" class="btn-default">
                                    <h4 class="center">Recibos</h4>
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_five" class="btn-default">
                                    <h4 class="center">Creditos</h4>
                                </a>
                            </li>
                            <li ui-sref-active="current">
                                <a anchor-disable="isAddMode" ui-sref=".step_six" class="btn-default">
                                    <h4 class="center">Reclamaciones</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">
                            <!-- STATE'S VIEW INJECTED OVER HERE -->
                            <div id="form-views" ui-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
