<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Renovaciones</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Pólizas</a>
            </li>
            <li class="active">
                <strong>
                    Renovaciones
                </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="btn-group pull-right custom-print-btn">
            <button type="button"
                    ng-click="clean()"
                    class="btn btn-xl btn-white">
                <i class="fa fa-remove"></i>
                Limpiar
            </button>
            <button type="button" class="btn btn-xl btn-white"
                    ng-disabled="dateFilter.month === 'ALL'"
                    ng-click="printAllForCurrentSearch();">
                <span ng-show="printing">
                    Espera...
                    <i class="fa fa-cog fa-spin btn-cog"></i>
                </span>
                    <span ng-hide="printing">
                    Imprimir
                    <i class="fa fa-print"></i>
                </span>
            </button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRight ecommerce">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="name">Nombre Cliente</label>
                        <input type="text"
                               id="name"
                               ng-model="search.name"
                               ng-enter="doFilter('name', search.name)"
                               class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="insuranceIndividualId">Cédula o RNC</label>
                        <input type="text"
                               id="insuranceIndividualId"
                               ng-model="search.insuranceIndividualId"
                               ng-enter="doFilter('identification', search.insuranceIndividualId)"
                               class="form-control integer">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="insurance">Número de Póliza</label>
                        <input type="text"
                               id="insurance"
                               ng-model="search.insuranceNo"
                               ng-enter="doFilter('insuranceNo', search.insuranceNo)"
                               class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Entidad Aseguradora</label>
                        <ui-select ng-model="carrier"
                                   ng-change="doFilter('carrier', carrier.id)"
                                   theme="bootstrap">
                            <ui-select-match>{{$select.selected.name | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="carrier in carriers | filter: $select.search">
                                <div ng-bind-html="carrier.name.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="carrier.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Mes</label>
                        <ui-select ng-model="date"
                                   ng-change="updateFilter(date);"
                                   theme="bootstrap">
                            <ui-select-match>{{$select.selected.name | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="month in months | filter: $select.search">
                                <div ng-bind-html="month.name.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="month.month.toUpperCase() | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th style="text-align:center">Teléfono</th>
                                <th>Número de Póliza</th>
                                <th>Aseguradora</th>
                                <th>Ramo</th>
                                <th>Vencimiento</th>
                                <th>Balance</th>
                                <th class="text-right" data-sort-ignore="true"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="insurance in insurances">
                                <td class="cname text-capitalize">
                                    {{(insurance.customer.name | uppercase) || "- - -"}}
                                </td>
                                <td style="text-align: center">
                                    <a style="text-align: center"
                                       href="tel:{{insurance.customer.phone}}">
                                        {{insurance.customer.phone || '- - -'}}
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="customer.detail.step_two.edit({id: insurance.customer.clientId, insurance: insurance.id})">
                                        {{insurance.insuranceNo || 'Not Set'}}
                                    </a>
                                </td>
                                <td>
                                    {{insurance.carrier.name || uppercase}}
                                </td>
                                <td>
                                    {{(insurance.branch.description | uppercase) || "- - -"}}
                                </td>
                                <td>
                                    {{(insurance.endDate | date) || 'Not Set'}}
                                </td>
                                <td>
                                    {{(insurance.balance | currency) || '0.00'}}
                                </td>
                                <td>
                                    <button ng-click="openModal(insurance.id)" class="btn-white btn btn-xs">Renovar
                                    </button>
                                </td>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <!--<ul class="pagination pull-right"></ul>-->
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div style="text-align: center;" class="row">
                            <div class="pager-box">
                                <a title="Inicio"
                                   ng-disabled="pager.page === 0"
                                   ng-click="pager.page = 0"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-backward"></i>
                                </a>
                                <a title="Previo"
                                   ng-click="pager.page = pager.page - 1"
                                   ng-disabled="pager.page === 0"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-backward"></i>
                                </a>
                                <span class="page-separator"></span>
                                <span class="page-text">Página</span>
                                <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPage(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                <span class="page-text">de {{pager.totalPages}} </span>
                                <span class="page-separator"></span>
                                <a title="Siguiente"
                                   ng-disabled="pager.page === pager.totalPages -1"
                                   ng-click="pager.page = pager.page + 1;"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                <a title="Ir al Ultimo"
                                   ng-click="pager.page = pager.totalPages - 1;"
                                   ng-disabled="pager.page === pager.totalPages -1"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>