<div class="padding-30">
    <form role="form" ng-submit="doSave()">
        <fieldset ng-disabled="!edit">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Tipo de credito</label>
                        <select ng-model="doc.type"
                                required="required"
                                title="Tipo de doco"
                                class="form-control">
                            <option value="0">Cancelación</option>
                            <option value="1">Disminución</option>
                            <option value="2">Descuento</option>
                            <option value="3">Ajuste</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="docNo">
                            Número de Credito
                            <span class="loading-cog" ng-show="validating">
                                <i class="fa fa-cog fa-spin btn-cog"></i>
                            </span>
                        </label>
                        <input type="text"
                               id="docNo"
                               ng-model="doc.docNo"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Factura</label>
                        <ui-select ng-disabled="!edit || doc.id"
                                   ng-readonly="doc.id"
                                   ng-change="validateAmount()"
                                   ng-model="doc.invoice"
                                   theme="bootstrap">
                            <ui-select-match class="label-inside">
                                <label ng-show="$select.selected.invoiceNo" class="label label-success left-inside-lbl">
                                    No. {{$select.selected.invoiceNo | uppercase}}
                                </label>
                                <label ng-show="$select.selected.invoiceNo"
                                       class="label label-primary right-inside-lbl">
                                    {{$select.selected.balance | currency}}
                                </label>
                            </ui-select-match>
                            <ui-select-choices repeat="invoice in invoices | filter: $select.search">
                                <div ng-bind-html="('Factura: ' + invoice.invoiceNo.toUpperCase()) | highlight: $select.search"></div>
                                <small ng-bind-html="('Póliza: ' + invoice.insurance.insuranceNumber) | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Póliza</label>
                        <input class="form-control"
                               readonly
                               placeholder="NADA SELECCIONADO"
                               ng-model="doc.invoice.insurance.insuranceNumber"
                               title="Insurance">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5ths">
                    <div class="form-group">
                        <label for="amount">Monto</label>
                        <input type="text"
                               title="Prima"
                               ng-readonly="doc.id"
                               ng-disabled="doc.id"
                               ng-change="validateAmount()"
                               id="amount"
                               format="number"
                               ng-model="doc.amount"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-5ths">
                    <div class="form-group">
                        <label>Fecha de Entrada</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   title="Start Date"
                                   disabled
                                   class="form-control"
                                   date-time
                                   min-view="date"
                                   ng-model="doc.startDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5ths">
                    <div class="form-group">
                        <label>Fecha Emisión</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   title="End Date"
                                   class="form-control"
                                   date-time
                                   min-view="date"
                                   ng-model="doc.endDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5ths">
                    <div class="form-group">
                        <label>Fecha de Inicio</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   title="Start Date"
                                   class="form-control"
                                   date-time
                                   ng-year="doc.dueDate"
                                   min-view="date"
                                   ng-model="doc.beginDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-5ths">
                    <div class="form-group">
                        <label>Fecha de Vencimiento</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   title="End Date"
                                   class="form-control"
                                   date-time
                                   min-view="date"
                                   ng-model="doc.dueDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Concepto</label>
                        <textarea rows="1"
                                  title="Notes"
                                  ng-model="doc.concept"
                                  class="form-control no-resizeable">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Notas</label>
                        <textarea rows="1"
                                  title="Notes"
                                  ng-model="doc.notes"
                                  class="form-control no-resizeable">
                        </textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div ng-hide="hidden" class="pull-left padding-bottom-20">
                <button class="btn btn-danger"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="deleteItem()"
                        type="button">
                    <i class="fa fa-trash"></i>
                    BORRAR
                </button>

                <button class="btn btn-warning"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="showAuditedItem()"
                        type="button">
                    <i class="fa fa-bug"></i>
                    AUDITAR
                </button>
            </div>
            <div class="pull-right padding-bottom-20">
                <button class="btn btn-success"
                        ng-hide="hidden"
                        ng-disabled="edit === true"
                        ng-click="edit = true"
                        type="button">
                    <i class="fa fa-pencil"></i>
                    EDITAR
                </button>
                <button class="btn btn-danger"
                        ui-sref="customer.detail.step_five.list({id: {{customer.clientId}} })"
                        type="button">
                    <i class="fa fa-warning"></i>
                    <span class="bold">
                CANCELAR
            </span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="edit === false || loading"
                        type="submit">
            <span ng-show="loading">
                LOADING...
                <i class="fa fa-cog fa-spin btn-cog"></i>
            </span>
                    <span ng-hide="loading">
                GUARDAR
            </span>
                </button>
            </div>
        </div>
    </form>
</div>