<div class="wrapper wrapper-content">
    <div class="row">
        <a class="col-lg-4 cursor-pointer"
           style="color: #757471;"
           ui-sref="renew.all({month: currentMonth})">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{renewObj.month}}</span>
                    <h5>Renovaciones</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{renewObj.insurance || '0'}} Disponibles</h1>

                    <div class="stat-percent font-bold text-danger">
                        {{getPct(renewObj.expiredInsurance, renewObj.insurance)}}
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <small>{{renewObj.expiredInsurance || '0'}} Vencidas</small>
                </div>
            </div>
        </a>
        <a class="col-lg-4 cursor-pointer"
           style="color: #757471;">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{renewObj.month}}</span>
                    <h5>Facturas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{renewObj.invoice || '0'}} Pendientes</h1>

                    <div class="stat-percent font-bold text-danger">
                        {{getPct(renewObj.expiredInvoice, renewObj.invoice)}}
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <small>{{renewObj.expiredInvoice || '0'}} Vencidas</small>
                </div>
            </div>
        </a>
        <a class="col-lg-4 cursor-pointer"
           style="color: #757471;"
           href="/#/activities/transactions">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{today | date}}</span>
                    <h5>Logs de Transacciones</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">
                        {{(renewObj.moneyMade + ' Transacciones') || 'No hay transacciones'}}</h1>
                    <div class="stat-percent font-bold text-navy">
                        {{getPct(renewObj.cashMade, renewObj.moneyMade)}}
                        <i class="fa fa-thumbs-down"></i>
                    </div>
                    <small>
                        {{(renewObj.cashMade + ' Transacciones Fallidas') || 'No hay transacciones fallidas'}}
                    </small>
                </div>
            </div>
        </a>
    </div>

    <div class="animated fadeInRight ecommerce">


        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="name">Nombre Cliente</label>
                        <input type="text"
                               id="name"
                               ng-model="name"
                               ng-enter="doFilter('name', name)"
                               class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="customerIndividualId">Cedula o RNC</label>
                        <input type="text"
                               id="customerIndividualId"
                               ng-model="customerIndividualId"
                               ng-enter="doFilter('customerIndividualId', customerIndividualId)"
                               class="form-control integer">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="phone">Telefono</label>
                        <input type="text"
                               id="phone"
                               ng-model="phone"
                               ng-enter="doFilter('phone', phone)"
                               class="form-control integer">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label"
                               for="customerType">Tipo de Cliente</label>
                        <select name="customerType"
                                id="customerType"
                                ng-model="customerType"
                                ng-change="doFilter('customerType', customerType)"
                                class="form-control">
                            <option value=""></option>
                            <option value="EMPRESA">EMPRESA</option>
                            <option value="PERSONA FISICA">PERSONA FISICA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                            <thead>
                            <tr>

                                <th data-toggle="true">Cliente</th>
                                <th data-hide="phone">Cedula o RCN</th>
                                <th data-hide="phone">Telefono</th>
                                <th data-hide="phone">Servicios</th>
                                <th data-hide="phone">Tipo</th>
                                <th data-hide="phone">Status</th>
                                <th data-hide="phone">Balance</th>
                                <th class="text-right" data-sort-ignore="true"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="customer in customers" ng-dblclick="viewDetails(customer.id)">
                                <td class="cname">
                                    {{customer.name}}
                                </td>
                                <td>
                                    {{customer.customerIndividualId}}
                                </td>
                                <td>
                                    {{customer.phone}}
                                </td>
                                <td>
                                    <a ui-sref="customer.detail.step_two({id: {{customer.id}} })">
                                        {{customer.insurances}}
                                        Polizas
                                    </a>
                                </td>
                                <td>
                                    {{customer.customerType | uppercase}}
                                </td>
                                <td>
                                    <span class="label"
                                          ng-class="{'label-warning': customer.status === 'CANCELADO', 'label-primary': customer.status != 'CANCELADO'}">
                                        {{customer.status}}
                                    </span>
                                </td>
                                <td>
                                    {{customer.balance | currency}}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs"
                                                ui-sref="customer.detail.step_one({id: {{customer.id}} })">
                                            Detalles
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <!--<ul class="pagination pull-right"></ul>-->
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div style="text-align: center;" class="row">
                            <div class="pager-box">
                                <a title="Inicio"
                                   ng-disabled="pager.page === 0"
                                   ng-click="pager.page = 0"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-backward"></i>
                                </a>
                                <a title="Previo"
                                   ng-click="pager.page = pager.page - 1"
                                   ng-disabled="pager.page === 0"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-backward"></i>
                                </a>
                                <span class="page-separator"></span>
                                <span class="page-text">Página</span>
                                <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPage(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                <span class="page-text">de {{pager.totalPages}} </span>
                                <span class="page-separator"></span>
                                <a title="Siguiente"
                                   ng-disabled="pager.page === pager.totalPages -1"
                                   ng-click="pager.page = pager.page + 1;"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                <a title="Ir al Ultimo"
                                   ng-click="pager.page = pager.totalPages - 1;"
                                   ng-disabled="pager.page === pager.totalPages -1"
                                   class="cursor-pointer page-jumper">
                                    <i class="fa fa-fast-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>