<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-20">
                            <button class="btn btn-default"
                                    ui-sref="customer.detail.step_two.new"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Nueva Poliza
                            </button>
                        </div>
                        <div class="pull-left padding-bottom-20">
                            <div class="btn-group" uib-dropdown>
                                <button type="button"
                                        ng-disabled="selectedItem === 0"
                                        class="btn btn-default"
                                        uib-dropdown-toggle>
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                    <span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li><a ui-sref="customer.detail.step_three.add({insurance: selected})">Nueva
                                        Factura</a></li>
                                    <li><a href="">Nuevo Recibo</a></li>
                                    <li><a href="">Nuevo Credito</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th></th>
                            <th>Poliza</th>
                            <th>Ramo</th>
                            <th>Prima</th>
                            <th>Vencimiento</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="insurance in insurances"
                            class="cursor-pointer"
                            ng-dblclick="state.go('customer.detail.step_two.edit',{insurance: insurance.id})">
                            <td>
                                <input ng-change="selectRow($index)" icheck type="checkbox"
                                       ng-model="insurance.selected">
                            </td>
                            <td>
                                {{insurance.insuranceNo || 'Not Set'}}
                            </td>
                            <td>
                                {{insurance.branch.description || 'Not Set'}}
                            </td>
                            <td>
                                {{(insurance.prime | currency) || '0.00'}}
                            </td>
                            <td>
                                {{(insurance.endDate | date) || 'Not Set'}}
                            </td>
                            <td>
                                {{(insurance.balance | currency) || '0.00'}}
                            </td>
                            <td>
                                <button ui-sref="customer.detail.step_two.edit({insurance: {{insurance.id}} })"
                                        class="btn-white btn btn-xs">Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
</div>