<style type="text/css">
    input {
        text-transform: none !important;
    }

    .corner-ribbon {
        width: 300px;
        background: #e43;
        position: absolute;
        top: 25px;
        left: -50px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        color: #f0f0f0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        cursor: crosshair;
    }

    /* Custom styles */

    .corner-ribbon.sticky {
        position: fixed;
    }

    .corner-ribbon.shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    }

    /* Different positions */

    .corner-ribbon.top-left {
        top: 38px;
        left: -75px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .corner-ribbon.bottom-right {
        top: auto;
        left: auto;
        bottom: 38px;
        right: -75px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
</style>
<div ng-show="environment === 'dev'" class="corner-ribbon top-left sticky red shadow">AMBIENTE DE PRUEBA</div>
<div ng-show="environment === 'dev'" class="corner-ribbon bottom-right sticky red shadow">AMBIENTE DE PRUEBA</div>
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name no-selectable">ICS+</h1>
            <small style="margin-top: -40px;color: #8f9193;" class="small right pull-right">Version {{version}}.</small>
        </div>
        <h3 class="no-selectable">Gabriel del Rosario y Asociados, SRL.</h3>
        <p class="no-selectable">
            Portal Administrativo
        </p>
        <!--<p>Si posee un acceso, inicie sesion para continuar.</p>-->
        <form class="m-t" role="form" ng-submit="doLogin()">
            <div class="form-group">
                <input type="text"
                       ng-model="user.username"
                       title="Email ó nombre de usuario"
                       class="form-control"
                       placeholder="Username"
                       required="">
            </div>
            <div class="form-group">
                <input type="password"
                       ng-model="user.password"
                       title="Contraseña registrada"
                       class="form-control"
                       placeholder="Password"
                       required="">
            </div>
            <button type="submit"
                    class="btn btn-primary block full-width m-b">
                <span ng-show="loading">
                    LOADING...
                    <i class="fa fa-cog fa-spin btn-cog"></i>
                </span>
                <span ng-hide="loading">
                    LOGIN
                </span>
            </button>
            <uib-alert ng-show="error" type="danger">Algo salio mal, revise usuario y contraseña</uib-alert>

            <a ng-click="openResetPswModal()">
                <small>¿Olvidaste tu contraseña?</small>
            </a>
            <p class="text-muted text-center">
                <small>¿No tienes una cuenta?</small>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="https://rodal.tech/icsplus">
                Solicitar una cuenta
            </a>
        </form>
        <p class="m-t">
            <small><a href="https://rodal.tech">Proyecto de RodalTech, SRL. &copy; 2019-2020</a>
            </small>
        </p>
    </div>
</div>
