<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="line-height: .5">{{title}}</h4>
    </div>
    <div class="modal-body">
        <form role="form"
              name="vehicleForm"
              id="vehicleForm"
              ng-submit="uibModalInstance.close(vehicle)">
            <fieldset ng-disabled="true">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="name">Número de Documento</label>
                            <input type="text"
                                   id="name"
                                   ng-model="document.id"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="brand">Tipo de Documento</label>
                            <input type="text"
                                   id="brand"
                                   ng-model="document.type"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="createdBy">Creado Por</label>
                            <input type="text"
                                   id="createdBy"
                                   ng-model="document.createdBy.name"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="created">Fecha de Creación</label>
                            <input type="text"
                                   id="created"
                                   ng-model="document.createdDate"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="modified">Modificado Por</label>
                            <input type="text"
                                   id="modified"
                                   ng-model="document.modifiedBy.name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="modifiedDate">Fecha de Modificacion</label>
                            <input type="text"
                                   id="modifiedDate"
                                   ng-model="document.modifiedDate"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-click="$uibModalInstance.close({})"
                    type="button">
                <i class="fa fa-check"></i>
                LISTO
            </button>
        </div>
    </div>
</div>

