<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 ng-hide="target">Estado de Cuenta Histórico</h2>
        <h2 ng-show="target">Estado de Cuenta Actual</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Consultas y Reportes</a>
            </li>
            <li class="active">
                <strong ng-hide="target">Estado Histórico</strong>
                <strong ng-show="target">Estado Actual</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="form-group customer-search-report">
            <h3>Nombre Cliente</h3>
            <ui-select ng-model="customer.selected" ng-change="loadDocuments(customer.selected)" theme="bootstrap">
                <ui-select-match placeholder="Nombre Cliente, Cedula o RNC">{{$select.selected.name |
                    uppercase}}
                </ui-select-match>
                <ui-select-choices repeat="customer in customers"
                                   refresh-delay="250"
                                   refresh="refreshCustomers($select.search)">
                    <div ng-bind-html="customer.name.toUpperCase()"></div>
                    <small ng-bind-html="customer.clientId.toString().toUpperCase() | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="ibox ">
                <div class="ibox-title">

                    <h5 ng-hide="target">Estado de Cuenta Histórico</h5>
                    <h5 ng-show="target">Estado de Cuenta Actual</h5>

                    <div class="float-right">
                        <div class="btn-group margin-minus8-top pull-right">
                            <button ui-sref="report.current" ng-hide="target" type="button"
                                    class="btn btn-xl btn-white">Actual
                            </button>
                            <button ui-sref="report.history" ng-show="target" type="button"
                                    class="btn btn-xl btn-white">Histórico
                            </button>
                            <button type="button" class="btn btn-xl btn-white" ng-click="printAllForCurrent();">
                                <span ng-show="printing">
                                    Espera...
                                    <i class="fa fa-cog fa-spin btn-cog"></i>
                                </span>
                                <span ng-hide="printing">
                                    Imprimir
                                    <i class="fa fa-print"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="ibox-content">
                    <p>

                    </p>

                    <p ng-hide="target">
                        El reporte histórico muestra las transacciones por cliente desde el principio de registro.
                    </p>
                    <p ng-show="target">
                        El reporte actual muestra las transacciones por cliente, para los documentos que estan vigentes.
                    </p>
                    <div ng-if="data" data-dr ui-tree id="tree-root">
                        <ol ui-tree-nodes ng-model="data">
                            <li ng-repeat="report in data" ui-tree-node>
                                <div ui-tree-handle class="tree-node tree-node-content">
                                    <div class="row">
                                        <div class="col col-xs-dot5">
                                            <span>
                                                <a class="btn btn-primary btn-xs"
                                                   data-nodrag ng-click="toggle(this)">
                                                    <span class="fa"
                                                          ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}">
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="col col-md-2 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Póliza
                                                </span>
                                                <p>{{report.insurance}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-md-3 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Cliente
                                                </span>
                                                <p>{{report.customer.name}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-sm-1dot5 col-md-1dot5 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Inicio Vigencia
                                                </span>
                                                <p>{{report.startDate | date}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-sm-1dot5 col-md-1dot5 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Fin Vigencia
                                                </span>
                                                <p>{{report.endDate | date}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-sm-1dot5 col-md-1dot5 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Balance
                                                </span>
                                                <p>{{report.balance | currency}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-md-1 report-row">
                                            <span>
                                                <span class="small primary">
                                                    Moneda
                                                </span>
                                                <p>{{report.currency}}</p>
                                            </span>
                                        </div>
                                        <div class="col col-md-1">
                                            <span>
                                                <a class="btn btn-primary btn-xs"
                                                   data-nodrag ng-click="printOne(report.id)">
                                                    <span ng-show="printing">
                                                        Wait...
                                                        <i class="fa fa-cog fa-spin btn-cog"></i>
                                                    </span>
                                                    <span ng-hide="printing">
                                                        Print
                                                        <i class="fa fa-print"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ol ui-tree-nodes="" ng-model="report.invoices" ng-if="collapsed">
                                    <li ng-repeat="invoiceReport in report.invoices" ui-tree-node>
                                        <div ui-tree-handle class="tree-node tree-node-content">
                                            <div class="row">
                                                <div class="col col-xs-dot5">
                                                    <span>
                                                        <a class="btn btn-success btn-xs"
                                                           data-nodrag ng-click="toggle(this)">
                                                            <span class="fa"
                                                                  ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}">
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="col col-md-2 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Número Factura
                                                        </span>
                                                        <p>{{invoiceReport.invoice}}</p>
                                                    </span>
                                                </div>
                                                <div class="col col-md-2 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Fecha Movimiento
                                                        </span>
                                                        <p>{{invoiceReport.emissionDate | date}}</p>
                                                    </span>
                                                </div>
                                                <div class="col col-md-2 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Inicio Vigencia
                                                        </span>
                                                        <p>{{invoiceReport.startDate | date}}</p>
                                                    </span>
                                                </div>
                                                <div class="col col-sm-1dot5 col-md-1dot5 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Fin Vigencia
                                                        </span>
                                                        <p>{{invoiceReport.endDate | date}}</p>
                                                    </span>
                                                </div>
                                                <div class="col col-md-2 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Balance Facturado
                                                        </span>
                                                        <p>{{invoiceReport.prime | currency}}</p>
                                                    </span>
                                                </div>
                                                <div class="col col-md-2 report-row">
                                                    <span>
                                                        <span class="small success">
                                                            Balance Pendiente
                                                        </span>
                                                        <p>{{invoiceReport.balance | currency}}</p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="report.invoices" ng-if="collapsed">
                                            <li ng-repeat="paymentDoc in invoiceReport.paymentDocuments" ui-tree-node>
                                                <div ui-tree-handle class="tree-node tree-node-content">
                                                    <div class="row">
                                                        <div class="col col-md-3 report-row">
                                                            <span>
                                                                <span class="small warning">
                                                                    Dipo de Documento
                                                                </span>
                                                                <p>{{paymentDoc.type}}</p>
                                                            </span>
                                                        </div>
                                                        <div class="col col-md-3 report-row">
                                                            <span>
                                                                <span class="small warning">
                                                                    Numero de {{paymentDoc.type === 'CREDITO' ? 'Crédito': 'Recibo'}}
                                                                </span>
                                                                <p>{{paymentDoc.document | uppercase}}</p>
                                                            </span>
                                                        </div>
                                                        <div class="col col-md-3 report-row">
                                                            <span>
                                                                <span class="small warning">
                                                                    Fecha de Movimiento
                                                                </span>
                                                                <p>{{paymentDoc.emissionDate | date}}</p>
                                                            </span>
                                                        </div>
                                                        <div class="col col-md-3 report-row">
                                                            <span>
                                                                <span ng-show="paymentDoc.type === 'RECIBO'" class="small warning">
                                                                    Monto Pagado
                                                                </span>
                                                                <span ng-hide="paymentDoc.type === 'RECIBO'" class="small warning">
                                                                    Monto Acreditado
                                                                </span>
                                                                <p>{{paymentDoc.amount | currency}}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .angular-ui-tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        font-weight: normal;
    }

    .angular-ui-tree-handle:hover {
        font-weight: bold;
        cursor: pointer;
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }

    .tree-node {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        border-radius: 3px;
    }

    .tree-node .btn {
        min-width: 22px;
        margin-right: 4px;
    }

    .tree-node-content {
        margin: 5px 5px 5px 0;
    }

    .tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
    }

    .angular-ui-tree-handle:hover {
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>