<div class="footer">
    <div class="pull-right">
        Powered by <strong><a href="https://rodal.tech">RodalTech, SRL.</a></strong>
    </div>
    <div>
        <strong>Derechos Reservados </strong> Gabriel del Rosario y Asociados, SRL. &copy; 2017-2018.
    </div>
</div>
