<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavigationController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="{{user.image || 'img/cs.png'}}"/>
                    <a uib-dropdown-toggle href ui-sref="user.profile">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{getName(user.name)}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{user.roleName}}</span>
                                <small class="text-muted text-xs block">(version {{version}})</small>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    CS+
                </div>
            </li>
            <li ng-class="{active: $state.includes('dashboards')}">
                <a ui-sref="dashboards.dashboard_2">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">HOME</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('customer')}">
                <a ui-sref="customer.detail.step_one.new({id: 'new'})">
                    <i class="fa fa-plus"></i>
                    <span class="nav-label">CLIENTE</span>
                </a>
            </li>
            <li ng-show="user.role === 'ADMIN'" ng-class="{active: $state.includes('user')}">
                <a ui-sref="user.all">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-label">USUARIO</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('report')}">
                <a href="">
                    <i class="fa fa-print"></i>
                    <span class="nav-label">
                        CONSULTAS
                    </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse"
                    ng-class="{in: ($state.includes('report') || $state.includes('renew'))}">
                    <li ui-sref-active="active"><a ui-sref="report.current">Estado Actual</a></li>
                    <li ui-sref-active="active"><a ui-sref="report.history">Estado Histórico</a></li>
                    <li ui-sref-active="active"><a ui-sref="renew.all({month: currentMonth})">Renovaciones del Mes</a>
                    </li>
                </ul>
            </li>
            <li ng-show="user.role === 'ADMIN'" ng-class="{active: $state.includes('company')}">
                <a ui-sref="company.all">
                    <i class="fa fa-building-o"></i>
                    <span class="nav-label">ASEGURADORA</span>
                </a>
            </li>
            <li ng-show="user.role === 'ADMIN'"
                ng-class="{active: $state.includes('log')}">
                <a href="">
                    <i class="fa fa-print"></i>
                    <span class="nav-label">
                        ACTIVIDADES
                    </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse"
                    ng-class="{in: $state.includes('log')}">
                    <li ui-sref-active="active"><a ui-sref="log.transactions">Transaciones</a></li>
                    <li ui-sref-active="active"><a ui-sref="log.all">Actividades de Usuarios</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>