<div class="row border-bottom" ng-controller="NavigationController">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom">
                <div class="form-group">
                    <ui-select class="nav-filter"
                               ng-model="filter.criteria"
                               ng-change="applyFilter()" theme="bootstrap">
                        <ui-select-match placeholder="Buscar">{{($select.selected.document ||
                            $select.selected.customer.name) |
                            uppercase}}
                        </ui-select-match>
                        <ui-select-choices repeat="customerDoc in customers"
                                           refresh-delay="250"
                                           refresh="refreshCustomers($select.search)">
                            <div ng-bind-html="(customerDoc.document || customerDoc.customer.name).toUpperCase() | highlight: $select.search"></div>
                            <small ng-bind-html="customerDoc.spnType | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </form>
        </div>

        <ul class="nav navbar-top-links navbar-left" ng-show="user.role === 'ADMIN'">
            <li uib-dropdown="">
                <a uib-dropdown-toggle
                   ng-click="description = null"
                   style="margin-left: 30px!important; color: #999c9e!important;">
                    <i class="fa fa-plus"></i>
                    Ramo
                </a>
                <ul class="dropdown-messages" uib-dropdown-menu>
                    <form role="form" ng-submit="saveBranch(description)">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Nombre del Ramo</label>
                                    <input type="text"
                                           required
                                           title="Nombre del Ramo"
                                           ng-model="description"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary full-width"
                                        type="submit">
                                    <span ng-show="loading">
                                        PROCESANDO...
                                        <i class="fa fa-cog fa-spin btn-cog"></i>
                                    </span>
                                    <span ng-hide="loading">
                                        AGREGAR RAMO
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-left" ng-show="user.role === 'ADMIN'">
            <li uib-dropdown="">
                <a uib-dropdown-toggle
                   ng-click="description = null"
                   style="color: #999c9e!important;">
                    <i class="fa fa-exchange"></i>
                    Moneda
                </a>
                <ul class="dropdown-messages no-padding" uib-dropdown-menu>
                    <form role="form">
                        <div class="ibox no-margin-bottom">
                            <div class="ibox-content no-borders">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">De</label>
                                            <select ng-model="exchange.from"
                                                    ng-change="exchangeMoney()"
                                                    required="required"
                                                    title="De moneda"
                                                    class="form-control">
                                                <option selected="selected" value="DOP">Pesos</option>
                                                <option value="USD">Dólares</option>
                                                <option value="EUR">Euros</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label">A</label>
                                            <select ng-model="exchange.to"
                                                    ng-change="exchangeMoney()"
                                                    required="required"
                                                    title="A moneda"
                                                    class="form-control">
                                                <option selected="selected" value="DOP">Pesos</option>
                                                <option value="USD">Dólares</option>
                                                <option value="EUR">Euros</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <input type="text"
                                                   title="Monto"
                                                   ng-change="exchangeMoney()"
                                                   format="number"
                                                   ng-model="exchange.value"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <input type="text"
                                                   disabled="disabled"
                                                   title="Resultado"
                                                   ng-model="exchange.result"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <p class="small no-margins margin-top-5 center-text">
                                    Se consultará sistema externo para evaluar lo requerido
                                </p>
                            </div>
                        </div>
                    </form>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">

            <!--<li uib-dropdown>-->
            <!--<a class="count-info" href uib-dropdown-toggle>-->
            <!--<i class="fa fa-envelope"></i>-->
            <!--<span class="label label-warning">11</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-messages" uib-dropdown-menu>-->
            <!--<li>-->
            <!--<div class="dropdown-messages-box">-->
            <!--<a ui-sref="profile" class="pull-left">-->
            <!--&lt;!&ndash;<img alt="image" class="img-circle" src="img/a7.jpg">&ndash;&gt;-->
            <!--</a>-->

            <!--<div>-->
            <!--<small class="pull-right">46h ago</small>-->
            <!--<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>-->
            <!--<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<div class="dropdown-messages-box">-->
            <!--<a ui-sref="profile" class="pull-left">-->
            <!--&lt;!&ndash;<img alt="image" class="img-circle" src="img/a4.jpg">&ndash;&gt;-->
            <!--</a>-->

            <!--<div>-->
            <!--<small class="pull-right text-navy">5h ago</small>-->
            <!--<strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>.-->
            <!--<br>-->
            <!--<small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<div class="dropdown-messages-box">-->
            <!--<a ui-sref="profile" class="pull-left">-->
            <!--&lt;!&ndash;<img alt="image" class="img-circle" src="img/profile.jpg">&ndash;&gt;-->
            <!--</a>-->

            <!--<div>-->
            <!--<small class="pull-right">23h ago</small>-->
            <!--<strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>-->
            <!--<small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<div class="text-center link-block">-->
            <!--<a ui-sref="mailbox.inbox">-->
            <!--<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>-->
            <!--</a>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li uib-dropdown>-->
            <!--<a class="count-info" href uib-dropdown-toggle>-->
            <!--<i class="fa fa-bell"></i> <span class="label label-primary">8</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-alerts" uib-dropdown-menu>-->
            <!--<li>-->
            <!--<a ui-sref="inbox">-->
            <!--<div>-->
            <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a ui-sref="profile">-->
            <!--<div>-->
            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a ui-sref="grid_options">-->
            <!--<div>-->
            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<div class="text-center link-block">-->
            <!--<a ui-sref="miscellaneous.notify">-->
            <!--<strong>See All Alerts</strong>-->
            <!--<i class="fa fa-angle-right"></i>-->
            <!--</a>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
            <!--<li>-->
            <!--<a ng-click="$root.rightSidebar = !$root.rightSidebar">-->
            <!--<i class="fa fa-tasks"></i>-->
            <!--</a>-->
            <!--</li>-->
        </ul>

    </nav>
</div>