<!--
* INSPINIA - Responsive Admin Theme
* Version 2.5
*
-->
<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/ui-select/select.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">

<!-- Main view  -->
<div ui-view></div>

<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>

<!-- Main Angular scripts-->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-sanitize.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/plugins/angular-idle/angular-idle.js"></script>
<script src="js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="js/plugins/sweetalert/angular-sweetalert.min.js"></script>
<script src="js/translate.js"></script>

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>

<!-- Anglar App Script -->
<script src="js/app.js"></script>
<script src="js/plugins/ui-select/select.min.js"></script>
<script src="js/plugins/moment/moment.min.js"></script>
<script src="js/config.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>

<!-- directives -->
<script src="app/common/directive/enter.js"></script>
<script src="app/common/directive/format.js"></script>
<script src="app/common/directive/year.js"></script>
<script src="app/common/directive/anchor.js"></script>

<!-- services -->
<script src="app/auth/AuthService.js"></script>
<script src="app/dashboard/DataService.js"></script>
<script src="app/customer/CustomerService.js"></script>
<script src="app/common/service/NotificationService.js"></script>
<script src="app/common/service/InvoiceService.js"></script>
<script src="app/common/service/ReceiptService.js"></script>
<script src="app/insurance/InsuranceService.js"></script>
<script src="app/report/ReportService.js"></script>
<script src="app/credit/CreditService.js"></script>
<script src="app/user/UserService.js"></script>
<!-- controllers -->
<script src="js/controllers.js"></script>
<script src="app/common/NavController.js"></script>
<script src="app/auth/login/LoginCtrl.js"></script>
<script src="app/auth/login/modal/ResetPasswordController.js"></script>
<script src="app/dashboard/DashboardCtrl.js"></script>
<script src="app/customer/CustomerGeneralInfoCtrl.js"></script>
<script src="app/customer/tabs/general/GeneralInfoTabCtrl.js"></script>
<script src="app/customer/tabs/insurance/InsuranceTabCtrl.js"></script>
<script src="app/customer/tabs/invoice/InvoiceTabCtrl.js"></script>
<script src="app/customer/tabs/receipt/ReceiptTabCtrl.js"></script>
<script src="app/customer/tabs/credit/CreditTabCtrl.js"></script>
<script src="app/customer/tabs/general/CustomerNewCtrl.js"></script>
<script src="app/customer/tabs/claim/ClaimTabCtrl.js"></script>
<script src="app/insurance/InsuranceCtrl.js"></script>
<script src="app/insurance/modal/GoodsController.js"></script>
<script src="app/insurance/modal/LocalController.js"></script>
<script src="app/insurance/modal/DependentController.js"></script>
<script src="app/insurance/modal/create/EditGoodController.js"></script>
<script src="app/insurance/modal/create/EditLocalCtrl.js"></script>
<script src="app/insurance/modal/create/EditDependentCtrl.js"></script>
<script src="app/insurance/modal/create/NewGoodController.js"></script>
<script src="app/insurance/modal/create/NewLocalCtrl.js"></script>
<script src="app/insurance/modal/create/NewDependentCtrl.js"></script>
<script src="app/invoice/InvoiceCtrl.js"></script>
<script src="app/invoice/NewInvoiceCtrl.js"></script>
<script src="app/invoice/AddInvoiceCtrl.js"></script>
<script src="app/receipt/NewReceiptCtrl.js"></script>
<script src="app/receipt/EditReceiptCtrl.js"></script>
<script src="app/credit/EditCreditCtrl.js"></script>
<script src="app/credit/NewCreditCtrl.js"></script>
<script src="app/report/CustomerReportCtrl.js"></script>
<script src="app/report/HistoricalCustomerReportCtrl.js"></script>
<script src="app/renew/RenewCtrl.js"></script>
<script src="app/renew/modal/RenewProcessCtrl.js"></script>
<script src="app/user/UserCtrl.js"></script>
<script src="app/user/modal/CreateUserModal.js"></script>
<script src="app/user/modal/EditUserModalCtrl.js"></script>
<script src="app/user/modal/reset/PasswordController.js"></script>
<script src="app/user/profile/ProfileCtrl.js"></script>
<script src="app/user/profile/ProfileCtrl.js"></script>
<script src="app/company/CompanyCtrl.js"></script>
<script src="app/company/modal/CreateCompanyModal.js"></script>
<script src="app/company/modal/EditCompanyModal.js"></script>
<script src="app/report/AuditController.js"></script>
<script src="app/claim/NewClaimCtrl.js"></script>
<script src="app/claim/EditClaimCtrl.js"></script>
<script src="app/log/LogCtrl.js"></script>
<script src="app/log/transactionCtrl.js"></script>

</body>
</html>
