<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize; line-height: .5">{{userTitle}}</h4>
    </div>
    <div class="modal-body">
        <form id="user-form"
              role="form"
              ng-submit="saveUser()">
            <fieldset ng-disabled="!edit">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text"
                                   required
                                   id="name"
                                   ng-model="user.name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="gender">Sexo</label>
                            <select ng-model="user.gender"
                                    required
                                    class="form-control"
                                    id="gender">
                                <option></option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group date">
                                <input type="datetime"
                                       required="required"
                                       title="Birth Date"
                                       class="form-control"
                                       date-time
                                       min-view="date"
                                       ng-model="user.birthDate"
                                       view="date"
                                       auto-close="true">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="age">Edad</label>
                            <input type="text"
                                   required="required"
                                   data-mask="?99"
                                   id="age"
                                   min="18"
                                   ng-model="user.age"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="card-id">Cédula</label>
                            <input type="text"
                                   id="card-id"
                                   required
                                   data-mask="999 9999999 9"
                                   min="18"
                                   ng-model="user.identification"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="role">Rol de Usuario</label>
                            <select ng-model="user.role"
                                    required="required"
                                    class="form-control"
                                    id="role">
                                <option></option>
                                <option value="ADMIN">ADMINISTRADOR</option>
                                <option value="EMPLOYEE">EMPLEADO</option>
                                <option value="AGENT">AGENTE EXTERNO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="address">Dirección</label>
                            <input type="text"
                                   id="address"
                                   ng-model="user.address"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="email">Teléfono</label>
                            <input type="text"
                                   required
                                   data-mask="(999) 999-9999"
                                   id="phone"
                                   ng-model="user.phone"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input type="email"
                                   id="email"
                                   ng-model="user.email"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="username">Nombre de Usuario</label>
                            <input type="text"
                                   required="required"
                                   id="username"
                                   ng-model="user.username"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="type">Estado de la Cuenta</label>
                            <select ng-model="user.status"
                                    required="required"
                                    class="form-control"
                                    id="type">
                                <option></option>
                                <option value="ACTIVE" >ACTIVO</option>
                                <option value="INACTIVE">INACTIVO</option>
                                <option value="FIRED">DESPEDIDO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="edit === true"
                    ng-show="isEditMode"
                    ng-click="edit = true"
                    type="button">
                <i class="fa fa-pencil"></i>
                EDITAR
            </button>
            <button class="btn btn-danger"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close()"
                    type="button">
                <i class="fa fa-warning"></i>
                <span class="bold">
                        CANCELAR
                    </span>
            </button>
            <button class="btn btn-primary"
                    form="user-form"
                    type="submit">
                    <span ng-show="loading">
                        LOADING...
                        <i class="fa fa-cog fa-spin btn-cog"></i>
                    </span>
                <span ng-hide="loading">
                        GUARDAR
                </span>
            </button>
        </div>
    </div>
</div>

