<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfil de Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>
                    {{user.name}}
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="{{user.image || 'img/cs.png'}}" class="img-circle circle-border m-b-md" alt="profile">
                <button ng-click="loadImage()" class="btn btn-primary" style="padding: 0 10px; margin-top: -30px">
                    <i class="fa fa-edit"></i>
                    Cambiar
                </button>
                <input type="file" style="visibility: hidden;" id="fileInput">
                <!--<input type="file" class="file">-->
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{user.name || 'ERROR'}}
                        </h2>
                        <h4>{{user.roleName || 'Not Set'}}</h4>
                        <small>
                            {{user.roleDescription}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <thead>
                <tr>
                    <th>
                        Del Mes
                    </th>
                    <th>
                        Histórico
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <strong>{{incomes.doPeso | currency}}</strong> Pesos
                    </td>
                    <td>
                        <strong>{{incomes.totalDoPeso | currency}}</strong> Pesos
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>{{incomes.usDollar | currency}}</strong> Dollars
                    </td>
                    <td>
                        <strong>{{incomes.totalUsDollar | currency}}</strong> Dollars
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>{{incomes.euEuro | currency}}</strong> Euros
                    </td>
                    <td>
                        <strong>{{incomes.totalEuEuro | currency}}</strong> Euros
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3" ng-controller="dashboardFive as chart">
            <small>Entradas del mes (En RD$)</small>
            <h2 class="no-margins">{{incomes.total | currency}}</h2>
            <div sparkline spark-data="chart.sparkline1" spark-options="chart.sparkline1Options"></div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-6 m-b-lg">
            <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-italic"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Información Básica</h2>
                        <form role="form" id="change-basic-info">
                            <fieldset ng-disabled="true">
                                <div class="ibox no-margin-bottom">
                                    <div class="ibox-content no-borders no-padding-btm">
                                        <div class="form-group">
                                            <label>Cédula</label>
                                            <input type="text"
                                                   data-mask="999 9999999 9"
                                                   ng-model="user.identification"
                                                   title="Cédula"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Nacimiento</label>
                                            <input type="datetime"
                                                   title="Fecha Nacimiento"
                                                   required="required"
                                                   class="form-control"
                                                   date-time
                                                   min-view="date"
                                                   ng-model="user.birthDate"
                                                   view="date"
                                                   auto-close="true">
                                        </div>
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input type="email"
                                                   ng-model="user.address"
                                                   title="Dirección"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-lock"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Contraseña</h2>
                        <form role="form" ng-submit="doChangePassword()" id="change-password-request">
                            <div class="ibox no-margin-bottom">
                                <div class="ibox-content no-borders no-padding-btm">
                                    <div class="form-group">
                                        <label>Contraseña actual</label>
                                        <input type="password"
                                               ng-model="password.current"
                                               title="Current Password"
                                               required="required"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Nueva contraseña</label>
                                        <input type="password"
                                               minlength="6"
                                               ng-model="password.newPsw"
                                               title="New Password"
                                               required="required"
                                               class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirme contraseña</label>
                                        <input type="password"
                                               minlength="6"
                                               ng-model="password.confirm"
                                               title="Confirm Password"
                                               required="required"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-sm btn-primary profile-submit-btn"
                                form="change-password-request"
                                type="submit">
                            <span ng-hide="loading">
                                <i class="fa fa-exchange"></i>
                                Cambiar
                            </span>
                            <span ng-show="loading">
                                <i class="fa fa-cog fa-spin btn-cog"></i>
                                Loading...
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 m-b-lg">
            <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-phone"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Información de Contacto</h2>
                        <form role="form" id="change-basic-info">
                            <fieldset ng-disabled="true">
                                <div class="ibox no-margin-bottom">
                                    <div class="ibox-content no-borders no-padding-btm">
                                        <div class="form-group">
                                            <label>Nombre de Usuario</label>
                                            <input type="text"
                                                   ng-model="user.username"
                                                   title="New Password"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text"
                                                   data-mask="(999) 999-9999"
                                                   ng-model="user.phone"
                                                   title="Current Password"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Correo Electrónico</label>
                                            <input type="email"
                                                   ng-model="user.email"
                                                   title="New Password"
                                                   required="required"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
