<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-20">
                            <button class="btn btn-default"
                                    ui-sref="customer.detail.step_three.new"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Nueva Factura
                            </button>
                        </div>
                        <div class="pull-left padding-bottom-20">
                            <div class="btn-group" uib-dropdown>
                                <button type="button"
                                        ng-disabled="selectedItem === 0"
                                        class="btn btn-default"
                                        uib-dropdown-toggle>
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                    <span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li><a href="">Nuevo Recibo</a></li>
                                    <li><a href="">Nuevo Credito</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th></th>
                            <th>Num. Factura</th>
                            <th>Num. Póliza</th>
                            <th>Prima</th>
                            <th>Vencimiento</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="invoice in invoices"
                            class="cursor-pointer"
                            ng-dblclick="state.go('customer.detail.step_three.edit',{invoice: invoice.id})">
                            <td>
                                <input title="Select?" ng-change="selectRow($index)" icheck type="checkbox"
                                       ng-model="invoice.selected">
                            </td>
                            <td>
                                {{invoice.invoiceNo || 'Not Set'}}
                            </td>
                            <td>
                                {{invoice.insurance.insuranceNumber || 'Not Set'}}
                            </td>
                            <td>
                                {{(invoice.prime | currency) || '0.00'}}
                            </td>
                            <td>
                                {{(invoice.dueDate | date) || 'Not Set'}}
                            </td>
                            <td>
                                {{(invoice.balance | currency) || '0.00'}}
                            </td>
                            <td>
                                <button ui-sref="customer.detail.step_three.edit({invoice: {{invoice.id}} })"
                                        class="btn-white btn btn-xs">Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
</div>