<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="line-height: .5">{{insurance.insuranceNumber | uppercase}}</h4>
    </div>
    <div class="modal-body">
        <form role="form"
              name="renew"
              id="renew"
              ng-submit="doSave()">
            <fieldset>
                <div class="row">
                    <div class="col col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label for="invoiceNo">Número de Factura</label>
                            <input type="text"
                                   required="required"
                                   ng-blur="validateMe()"
                                   id="invoiceNo"
                                   ng-model="renew.invoiceNo"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label for="prime">Prima</label>
                            <input type="text"
                                   id="prime"
                                   required="required"
                                   title="Prima"
                                   format="number"
                                   ng-model="renew.prime"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Inicio de Vigencia</label>
                            <div class="input-group date">
                                <input type="datetime"
                                       required="required"
                                       class="form-control"
                                       date-time
                                       ng-year="renew.endDate"
                                       min-view="date"
                                       ng-model="renew.startDate"
                                       view="date"
                                       auto-close="true">
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-12 col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Fin de Vigencia</label>
                            <div class="input-group date">
                                <input type="datetime"
                                       required="required"
                                       class="form-control"
                                       date-time
                                       min-view="date"
                                       ng-model="renew.endDate"
                                       view="date"
                                       auto-close="true">
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-danger"
                    ng-click="$uibModalInstance.close()"
                    type="button">
                <i class="fa fa-ban"></i>
                CANCELAR
            </button>
        </div>
        <div class="pull-right">
            <button class="btn btn-success"
                    form="renew"
                    type="submit">
                <span ng-show="loading">
                    <i class="fa fa-cog fa-spin btn-cog"></i>
                    LOADING...
                </span>
                <span ng-hide="loading">
                    <i class="fa fa-cog"></i>
                    PROCESAR
                </span>
            </button>
        </div>
    </div>
</div>