<div class="padding-30">
    <form role="form" ng-submit="save()">
        <fieldset ng-disabled="!edit">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="validate">
                            Numero de Poliza
                            <span class="loading-cog" ng-show="validating">
                                <i class="fa fa-cog fa-spin btn-cog"></i>
                            </span>
                        </label>
                        <input type="text"
                               required="required"
                               ng-blur="validateMe()"
                               ng-enter="validateMe()"
                               id="validate"
                               ng-model="insurance.insuranceNumber"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Ramo</label>
                        <ui-select ng-required="true" ng-disabled="!edit" ng-model="insurance.branch" theme="bootstrap">
                            <ui-select-match>{{$select.selected.description | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="branch in branches | filter: $select.search">
                                <div ng-bind-html="branch.description.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="branch.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Entidad Aseguradora</label>
                        <ui-select ng-required="true" ng-disabled="!edit" ng-model="insurance.carrier" theme="bootstrap">
                            <ui-select-match>{{$select.selected.name | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="carrier in carriers | filter: $select.search">
                                <div ng-bind-html="carrier.name.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="carrier.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <select ng-model="insurance.status"
                                required="required"
                                title="Carrier"
                                class="form-control">
                            <option selected="selected" value="VIGENTE">VIGENTE</option>
                            <option value="NO_VIGENTE">NO VIGENTE</option>
                            <option value="CANCELADA">CANCELADA</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="prime">Prima</label>
                        <input type="text"
                               ng-required="true"
                               id="prime"
                               title="Prima"
                               format="number"
                               ng-model="insurance.prime"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label">Moneda</label>
                        <select ng-model="insurance.currency"
                                required="required"
                                title="Currency"
                                class="form-control">
                            <option selected="selected" value="PESOS">RD$ Peso</option>
                            <option value="DOLLARS">US$ Dolar</option>
                            <option value="EUROS">EU€ Euro</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label>Inicio Vigencia</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   date-time
                                   ng-year="insurance.endDate"
                                   min-view="date"
                                   ng-model="insurance.startDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label>Fin Vigencia</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   class="form-control"
                                   date-time
                                   min-view="date"
                                   ng-model="insurance.endDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="notes">Notas</label>
                        <textarea rows="1"
                                  id="notes"
                                  title="Notes"
                                  ng-model="insurance.notes"
                                  class="form-control no-resizeable">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="hr-line-dashed" ng-show="message"></div>
            <div class="row" ng-show="message">
                <div class="col col-md-12 col-xs-12 col-lg-12 col-sm-12">
                    <button class="btn btn-default full-width"
                            ng-click="showModal()"
                            type="button">
                        <i class="fa fa-plus"></i>
                        {{message}}
                    </button>
                </div>
            </div>
        </fieldset>
        <div class="hr-line-dashed"></div>
        <div class="row">

            <div ng-show="isEditMode"
                 class="pull-left padding-bottom-20">
                <button class="btn btn-danger"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="deleteItem()"
                        type="button">
                    <i class="fa fa-trash"></i>
                    BORRAR
                </button>

                <button class="btn btn-warning"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="showAuditedItem()"
                        type="button">
                    <i class="fa fa-bug"></i>
                    AUDITAR
                </button>
            </div>
            <div class="pull-right padding-bottom-20">
                <button class="btn btn-success"
                        ng-disabled="edit === true"
                        ng-click="edit = true"
                        ng-show="isEditMode"
                        type="button">
                    <i class="fa fa-pencil"></i>
                    EDITAR
                </button>
                <button class="btn btn-danger"
                        ui-sref="customer.detail.step_two.list({id: {{customer}} })"
                        type="button">
                    <i class="fa fa-warning"></i>
                    <span class="bold">
                CANCELAR
            </span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="edit === false || loading"
                        type="submit">
            <span ng-show="loading">
                LOADING...
                <i class="fa fa-cog fa-spin btn-cog"></i>
            </span>
                    <span ng-hide="loading">
                GUARDAR
            </span>
                </button>
            </div>
        </div>
    </form>
</div>