<div class="inmodal">
    <div class="modal-header">
        <h5 class="modal-title" style="line-height: .5">Recuperar contraseña</h5>
    </div>
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <form ng-submit="sendResetEmail(email)" name="reset-form" id="reset-form">
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="email">
                                    Correo electrónico o nombre de usuario
                                </label>
                                <input type="text"
                                       required="required"
                                       id="email"
                                       ng-model="email"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-danger"
                    ng-click="$uibModalInstance.close({})"
                    type="button">
                <i class="fa fa-ban"></i>
                CANCELAR
            </button>
        </div>
        <div class="pull-right">
            <button class="btn btn-success"
                    type="submit"
                    form="reset-form">
                <i class="fa fa-check"></i>
                <span ng-show="loading">
                    LOADING...
                    <i class="fa fa-cog fa-spin btn-cog"></i>
                </span>
                    <span ng-hide="loading">
                    ENVIAR
                </span>
            </button>
        </div>
    </div>
</div>
