<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-20">
                            <button class="btn btn-default"
                                    ui-sref="customer.detail.step_four.new"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Nuevo Recibo
                            </button>
                        </div>
                        <div class="pull-left padding-bottom-20">
                            <div>
                                <div class="form-group">
                                    <select ng-model="showing"
                                            class="form-control" title="Mostrando">
                                        <option value="101" selected>Recibos</option>
                                        <option value="111">Creditos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th></th>
                            <th>Num. Recibo</th>
                            <th>Num. Factura</th>
                            <th>Num. Póliza</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="receipt in currentReceipts"
                            class="cursor-pointer"
                            ng-dblclick="state.go('customer.detail.step_four.edit', {receipt:receipt.id})"
                            style="height: 39.2px">
                            <td>
                                <input ng-if="receipt.id"
                                       title="Select?"
                                       ng-change="selectRow($index)"
                                       icheck
                                       type="checkbox"
                                       ng-model="receipt.selected">
                            </td>
                            <td>
                                {{receipt.receiptNo || ''}}
                            </td>
                            <td>
                                {{receipt.invoice.invoiceNo || '&ensp;'}}
                            </td>
                            <td>
                                {{receipt.insurance.insuranceNumber || ''}}
                            </td>
                            <td>
                                {{(receipt.endDate | date) || ''}}
                            </td>
                            <td>
                                {{(receipt.amount | currency) || ''}}
                            </td>
                            <td>
                                <button ng-if="receipt.id"
                                        ui-sref="customer.detail.step_four.edit({receipt: {{receipt.id}}})"
                                        class="btn-white btn btn-xs">Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="center">
                        <div class="spagination-container">
                            <ul class="pagination static-pagination">
                                <li ng-repeat="page in pageObj" ng-click="range($index)" class="{{page.class}}">
                                    <a>{{page.index}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
</div>