<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Manejo de Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/#/home">Home</a>
            </li>
            <li>
                <a>Usuarios</a>
            </li>
            <li class="active">
                <strong>
                    Manejo de Usuarios
                </strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="ibox ">
                            <div class="ibox-title">

                                <h5>Lista de Usuarios y Control de Acceso</h5>

                                <div class="float-right">
                                    <div class="btn-group margin-minus8-top pull-right">
                                        <button ng-click="addNewModal();" ng-hide="target" type="button"
                                                class="btn btn-xl btn-white">
                                            <i class="fa fa-user-plus"></i>
                                            Agregar Usuario
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>E-Mail</th>
                                        <th>Teléfono</th>
                                        <th>Nacimiento</th>
                                        <th>Rol</th>
                                        <th>Status</th>
                                        <th class="text-right" data-sort-ignore="true"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="user in users">
                                        <td class="cname text-capitalize">
                                            {{(user.name | uppercase) || "- - -"}}
                                        </td>
                                        <td class="cname text-capitalize">
                                            {{(user.username | uppercase) || "- - -"}}
                                        </td>
                                        <td class="cname">
                                            <a href="mailTo:{{user.email}}">{{(user.email | lowercase) || "- - -"}}</a>
                                        </td>
                                        <td>
                                            <a href="tel:{{user.phone}}">
                                                {{user.phone || '- - -'}}
                                            </a>
                                        </td>
                                        <td>
                                            {{(user.birthDate | date) || 'Not Set'}}
                                        </td>
                                        <td>
                                            {{(user.roleName | uppercase) || '- - -'}}
                                        </td>
                                        <td>
                                            {{(user.statusName | uppercase) || '- - -'}}
                                        </td>
                                        <td>
                                            <button ng-click="editUserModal(user)" class="btn-white btn btn-xs">
                                                Editar
                                            </button>
                                        </td>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <!--<ul class="pagination pull-right"></ul>-->
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div style="text-align: center;" class="row">
                                    <div class="pager-box">
                                        <a title="Inicio"
                                           ng-disabled="pager.page === 0"
                                           ng-click="pager.page = 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-backward"></i>
                                        </a>
                                        <a title="Previo"
                                           ng-click="pager.page = pager.page - 1"
                                           ng-disabled="pager.page === 0"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-backward"></i>
                                        </a>
                                        <span class="page-separator"></span>
                                        <span class="page-text">Página</span>
                                        <span class="page-input-container">
                                    <input min="1"
                                           max="{{pager.totalPages}}"
                                           ng-enter="setPage(pageHelper);"
                                           ng-model="pageHelper"
                                           ng-init="pageHelper=1"
                                           title="Pagina"
                                           class="page-input"
                                           step="1"
                                           value="1"
                                           onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                           type="number">
                                </span>
                                        <span class="page-text">de {{pager.totalPages}} </span>
                                        <span class="page-separator"></span>
                                        <a title="Siguiente"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           ng-click="pager.page = pager.page + 1;"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-step-forward"></i>
                                        </a>
                                        <a title="Ir al Ultimo"
                                           ng-click="pager.page = pager.totalPages - 1;"
                                           ng-disabled="pager.page === pager.totalPages -1"
                                           class="cursor-pointer page-jumper">
                                            <i class="fa fa-fast-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>