<div class="inmodal">
    <div class="modal-header">
        <h5 class="modal-title" style="line-height: .5">Cambiar contraseña</h5>
    </div>
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <form ng-submit="changePsw(password)" name="change-psw-form" id="change-psw-form">
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="newPsw">
                                    Contraseña nueva
                                </label>
                                <input type="password"
                                       id="newPsw"
                                       required="required"
                                       ng-model="password.newPsw"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label for="confirm">
                                    Confirme nueva contraseña
                                </label>
                                <input type="password"
                                       required="required"
                                       id="confirm"
                                       ng-model="password.confirm"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer center-text">
        <div>
            <button class="btn btn-success"
                    type="submit"
                    ng-disabled="newPsw !== confirm"
                    form="change-psw-form">
                <i class="fa fa-check"></i>
                <span ng-show="loading">
                    LOADING...
                    <i class="fa fa-cog fa-spin btn-cog"></i>
                </span>
                <span ng-hide="loading">
                    CAMBIAR
                </span>
            </button>
        </div>
    </div>
</div>
