<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style>
        table td {
            vertical-align: top;
            border: solid 1px #888;
            padding: 10px;
        }

        #DIV_1 {

            box-sizing: border-box;
            color: rgb(103, 106, 108);
            text-align: center;
            text-decoration: none solid rgb(103, 106, 108);
            width: 40%;
            margin: 0 30%;
            z-index: 0;
            column-rule-color: rgb(103, 106, 108);
            perspective-origin: 200px 194px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transform-origin: 200px 194px;
            animation: fadeInDown 1s ease 0s 1 normal both running;
            border: 0 none rgb(103, 106, 108);
            font: normal normal 400 normal 13px / 19px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            /* margin: 0 568px; */
            outline: rgb(103, 106, 108) none 0;
            padding: 40px 0 0;
        }

        /*#DIV_1*/

        #H1_2 {
            box-sizing: border-box;
            color: rgb(103, 106, 108);
            text-align: center;
            text-decoration: none solid rgb(103, 106, 108);
            column-rule-color: rgb(103, 106, 108);
            perspective-origin: 200px 93px;
            transform-origin: 200px 93px;
            border: 0 none rgb(103, 106, 108);
            font: normal normal 100 normal 170px / 187px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 20px 0 10px;
            outline: rgb(103, 106, 108) none 0;
        }

        /*#H1_2*/

        #H3_3 {
            box-sizing: border-box;
            color: rgb(103, 106, 108);
            text-align: center;
            text-decoration: none solid rgb(103, 106, 108);
            column-rule-color: rgb(103, 106, 108);
            perspective-origin: 200px 9px;
            transform-origin: 200px 9px;
            border: 0 none rgb(103, 106, 108);
            font: normal normal 600 normal 16px / 18px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 5px 0 10px;
            outline: rgb(103, 106, 108) none 0;
        }

        /*#H3_3*/

        #DIV_4 {
            box-sizing: border-box;
            color: rgb(103, 106, 108);
            text-align: center;
            text-decoration: none solid rgb(103, 106, 108);
            column-rule-color: rgb(103, 106, 108);
            perspective-origin: 200px 52px;
            transform-origin: 200px 52px;
            border: 0 none rgb(103, 106, 108);
            font: normal normal 400 normal 13px / 19px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            outline: rgb(103, 106, 108) none 0;
        }

        /*#DIV_4*/

        #BR_5, #BR_6 {
            box-sizing: border-box;
            color: rgb(103, 106, 108);
            text-align: center;
            text-decoration: none solid rgb(103, 106, 108);
            column-rule-color: rgb(103, 106, 108);
            perspective-origin: 0 0;
            transform-origin: 0 0;
            border: 0 none rgb(103, 106, 108);
            font: normal normal 400 normal 13px / 19px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            outline: rgb(103, 106, 108) none 0;
        }

        /*#BR_5, #BR_6*/

        #A_7 {
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            display: inline-block;
            text-align: center;
            text-decoration: none solid rgb(255, 255, 255);
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            column-rule-color: rgb(255, 255, 255);
            perspective-origin: 49px 17px;
            transform-origin: 49px 17px;
            user-select: none;
            background: rgb(26, 179, 148) none repeat scroll 0 0 / auto padding-box border-box;
            border: 1px solid rgb(26, 179, 148);
            border-radius: 3px 3px 3px 3px;
            font: normal normal 400 normal 14px / 20px "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 15px 0 0;
            outline: rgb(255, 255, 255) none 0;
            padding: 6px 12px;
        }

        /*#A_7*/

    </style>
    <title th:text="'Error '+${status}"></title>
</head>
<body>
<div id="DIV_1">
    <h1 id="H1_2" th:text="${status}"></h1>
    <h3 id="H3_3" th:text="${error}"></h3>
    <div id="DIV_4"
         th:text="${'The server encountered something unexpected that didnt allow it to complete the request on Path: '
          + path + ', with: '+ message + ', at: ' + timestamp +  '. We apologize.'}">
    </div>
    <br id="BR_5"/> You can go back to main page:<br id="BR_6"/><a href="/#/home" id="A_7">Home</a>
</div>
</body>
</html>