<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize; line-height: .5">{{dependentTitle }}</h4>
    </div>
    <div class="modal-body">
        <form role="form" ng-submit="save()">
            <fieldset ng-disabled="!edit">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="filialNo">Certificado ó numero Afiliado</label>
                            <input type="text"
                                   id="filialNo"
                                   ng-model="dependent.filialNo"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="idCard">Identicacion</label>
                            <input type="text"
                                   id="idCard"
                                   data-mask="999 9999999 9"
                                   ng-model="dependent.idCard"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text"
                                   id="name"
                                   required="required"
                                   ng-model="dependent.name"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="parent">Parentesco</label>
                            <input type="text"
                                   id="parent"
                                   ng-model="dependent.parent"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="gender">Sexo</label>
                            <select ng-model="dependent.gender"
                                    class="form-control"
                                    id="gender">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="age">Edad</label>
                            <input type="text"
                                   data-mask="?99"
                                   id="age"
                                   ng-model="dependent.age"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group date">
                                <input type="datetime"
                                       title="Birth Date"
                                       class="form-control"
                                       date-time
                                       min-view="date"
                                       ng-model="dependent.birthDate"
                                       view="date"
                                       auto-close="true">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label>Inicio de Vigencia</label>
                            <div class="input-group date">
                                <input type="datetime"
                                       title="Join Date"
                                       class="form-control"
                                       date-time
                                       min-view="date"
                                       ng-model="dependent.startDate"
                                       view="date"
                                       auto-close="true">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="plan">Plan</label>
                            <input type="text"
                                   id="plan"
                                   ng-model="dependent.plan"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="value">Valor Facturado</label>
                            <input type="text"
                                   id="value"
                                   format="number"
                                   ng-model="dependent.value"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label for="planType">Tipo de Plan</label>
                            <input type="text"
                                   id="planType"
                                   ng-model="dependent.planType"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="type">Tipo de Afiliado</label>
                            <select ng-model="dependent.type"
                                    class="form-control"
                                    id="type">
                                <option value="0">Dependiente</option>
                                <option value="1">Titular</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="edit === true"
                    ng-show="isEditMode"
                    ng-click="edit = true"
                    type="button">
                <i class="fa fa-pencil"></i>
                EDITAR
            </button>
            <button class="btn btn-danger"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close()"
                    type="button">
                <i class="fa fa-warning"></i>
                <span class="bold">
                        CANCELAR
                    </span>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close(dependent)"
                    type="submit">
                    <span ng-show="loading">
                        LOADING...
                        <i class="fa fa-cog fa-spin btn-cog"></i>
                    </span>
                <span ng-hide="loading">
                        GUARDAR
                </span>
            </button>
        </div>
    </div>
</div>

