<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize; line-height: .5">{{GoodTitle}}</h4>
    </div>
    <div class="modal-body">
        <form role="form"
              name="vehicleForm"
              id="vehicleForm"
              ng-submit="uibModalInstance.close(vehicle)">
            <fieldset ng-disabled="!edit">
                <div class="row">
                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="name">Tipo de Vehiculo</label>
                            <input type="text"
                                   id="name"
                                   ng-model="vehicle.type"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="brand">Marca</label>
                            <input type="text"
                                   id="brand"
                                   ng-model="vehicle.brand"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="model">Modelo</label>
                            <input type="text"
                                   id="model"
                                   ng-model="vehicle.model"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="year">Año</label>
                            <input type="text"
                                   data-mask="9999"
                                   id="year"
                                   ng-model="vehicle.year"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text"
                                   id="color"
                                   ng-model="vehicle.color"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="chassis">Chassis</label>
                            <input type="text"
                                   id="chassis"
                                   ng-model="vehicle.chassis"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="licensePlate">Registro</label>
                            <input type="text"
                                   id="licensePlate"
                                   ng-model="vehicle.licensePlate"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="weight">Peso en Toneladas</label>
                            <input type="text"
                                   id="weight"
                                   ng-model="vehicle.weight"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="cylinder">Cilindraje</label>
                            <input type="text"
                                   id="cylinder"
                                   ng-model="vehicle.cylinder"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label for="passengers">Pasajeros</label>
                            <input type="text"
                                   id="passengers"
                                   ng-model="vehicle.passengers"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="row">

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label class="control-label" for="type">Tipo de Seguro</label>
                            <select ng-model="vehicle.careType"
                                    class="form-control"
                                    id="type">
                                <option value="LAW">SEGURO DE LEY</option>
                                <option value="DAMAGE">SEGURO CON DAÑOS PROPIOS</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label class="control-label" for="service">Servicio</label>
                            <select ng-model="vehicle.service"
                                    class="form-control"
                                    id="service">
                                <option value="1">Privado</option>
                                <option value="2">Publico</option>
                                <option value="3">Carga</option>
                                <option value="4">Otro</option>
                            </select>
                        </div>
                    </div>


                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label class="control-label">Cobertura</label>
                            <ui-select ng-disabled="!edit" ng-model="vehicle.coverage" theme="bootstrap">
                                <ui-select-match>{{$select.selected.description | uppercase}}</ui-select-match>
                                <ui-select-choices repeat="cover in coverages | filter: $select.search">
                                    <div ng-bind-html="cover.description.toUpperCase() | highlight: $select.search"></div>
                                    <small ng-bind-html="cover.id | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label class="control-label" for="vialCare">Asistencia Vial</label>
                            <select ng-model="vehicle.vialCare"
                                    class="form-control"
                                    id="vialCare">
                                <option value="1">Incluido</option>
                                <option value="2">No Incluido</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-md-5ths">
                        <div class="form-group">
                            <label class="control-label" for="mobileCenter">Centro Automovilista</label>
                            <select ng-model="vehicle.mobileCenter"
                                    class="form-control"
                                    id="mobileCenter">
                                <option value="1">Incluido</option>
                                <option value="2">No Incluido</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row" ng-show="vehicle.careType === 'DAMAGE'">
                    <div class="col col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="coverageAmount">Valor Asegurado</label>
                            <input type="text"
                                   format="number"
                                   id="coverageAmount"
                                   ng-model="vehicle.coverageAmount"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label for="deducible">Deducible</label>
                            <input type="text"
                                   format="number"
                                   id="deducible"
                                   ng-model="vehicle.deducible"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="mobileCenter">Cobertura Daño Propio</label>
                            <select ng-model="vehicle.selfDamage"
                                    class="form-control"
                                    id="selfDamage">
                                <option value="1">Comprensivo</option>
                                <option value="2">Colision y Vuelco</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="air">Aero-Ambulancia</label>
                            <select ng-model="vehicle.air"
                                    class="form-control"
                                    id="air">
                                <option value="1">Incluido</option>
                                <option value="2">No Incluido</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">

                    <div class="col col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label for="prime">Prima</label>
                            <input type="text"
                                   format="number"
                                   id="prime"
                                   ng-model="vehicle.prime"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label class="control-label" for="rentCar">Rent Car</label>
                            <select ng-model="vehicle.rentCar"
                                    class="form-control"
                                    id="rentCar">
                                <option value="1">Incluido</option>
                                <option value="2">No Incluido</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label for="notes">Notas</label>
                            <textarea id="notes"
                                      rows="1"
                                      ng-model="vehicle.notes"
                                      class="form-control no-resizeable">
                            </textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="edit === true"
                    ng-show="isEditMode"
                    ng-click="edit = true"
                    type="button">
                <i class="fa fa-pencil"></i>
                EDITAR
            </button>
            <button class="btn btn-danger"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close()"
                    type="button">
                <i class="fa fa-warning"></i>
                <span class="bold">
                        CANCELAR
                    </span>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="edit === false"
                    form="vehicleForm"
                    type="submit">
                    <span ng-show="loading">
                        LOADING...
                        <i class="fa fa-cog fa-spin btn-cog"></i>
                    </span>
                <span ng-hide="loading">
                        GUARDAR
                </span>
            </button>
        </div>
    </div>
</div>

