<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize; line-height: .5">{{localTitle}}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="!edit">

            <form role="form"
                  name="local"
                  id="local"
                  ng-submit="save()">

                <div class="row">
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="name">Local</label>
                            <input type="text"
                                   required
                                   id="name"
                                   ng-model="local.name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="type">Tipo de Local</label>
                            <input type="text"
                                   id="type"
                                   required
                                   ng-model="local.type"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="buildingType">Tipo de Construcción</label>
                            <input type="text"
                                   id="buildingType"
                                   ng-model="local.buildingType"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group">
                            <label for="address">Dirección</label>
                            <textarea id="address"
                                      rows="1"
                                      ng-model="local.address"
                                      class="form-control no-resizeable">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

            </form>
            <form role="form"
                  id="securedSumForm"
                  ng-submit="addRow(row)"
                  name="securedSumForm">
                <div class="row">
                    <div class="col col-md-5">
                        <div class="form-group">
                            <label for="description">Bienes Asegurados</label>
                            <input type="text"
                                   id="description"
                                   required
                                   ng-model="row.description"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-5">
                        <div class="form-group">
                            <label for="securedSum">Suma Asegurada</label>
                            <input type="text"
                                   id="securedSum"
                                   format="number"
                                   required
                                   ng-model="row.securedSum"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-2">
                        <button form="securedSumForm"
                                class="btn btn-default btn-inline full-width"
                                type="submit">Agregar
                        </button>
                    </div>
                </div>
            </form>
            <div class="hr-line-dashed no-padding no-margins"></div>
            <div class="table-responsive">
                <table class="table table-striped no-margin-bottom">
                    <thead>
                    <tr>
                        <th>Bienes Asegurados</th>
                        <th>Suma Asegurada</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="good in goods">
                        <td>
                            {{good.description | uppercase}}
                        </td>
                        <td>
                            {{good.securedSum | currency}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="edit === true"
                    ng-show="isEditMode"
                    ng-click="edit = true"
                    type="button">
                <i class="fa fa-pencil"></i>
                EDITAR
            </button>
            <button class="btn btn-danger"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close()"
                    type="button">
                <i class="fa fa-warning"></i>
                <span class="bold">
                        CANCELAR
                    </span>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="edit === false"
                    form="local"
                    type="submit">
                    <span ng-show="loading">
                        LOADING...
                        <i class="fa fa-cog fa-spin btn-cog"></i>
                    </span>
                <span ng-hide="loading">
                        GUARDAR
                </span>
            </button>
        </div>
    </div>
</div>

