<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins no-margin-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="pull-right padding-bottom-20">
                            <button class="btn btn-default"
                                    ui-sref="customer.detail.step_six.new"
                                    type="button">
                                <i class="fa fa-plus"></i>
                                Nuevo Reclamo
                            </button>
                        </div>
                        <div class="pull-left padding-bottom-20">
                            <div class="btn-group" uib-dropdown>
                                <button type="button"
                                        ng-disabled="selectedItem === 0"
                                        class="btn btn-default"
                                        uib-dropdown-toggle>
                                    <i class="fa fa-plus"></i>
                                    Agregar
                                    <span class="caret"></span>
                                </button>
                                <ul role="menu" uib-dropdown-menu="">
                                    <li>
                                        <a ui-sref="customer.detail.step_three.add({claim: selected})">
                                            Nueva Factura
                                        </a>
                                    </li>
                                    <li><a href="">Nuevo Recibo</a></li>
                                    <li><a href="">Nuevo Credito</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th></th>
                            <th>Reclamo No.</th>
                            <th>Cliente</th>
                            <th>Póliza</th>
                            <th>Aseguradora</th>
                            <th>Ajustador</th>
                            <th>Fecha de creacion</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="claim in claims"
                            class="cursor-pointer"
                            ng-dblclick="state.go('customer.detail.step_six.edit',{claim: claim.id})">
                            <td>
                                <input title="select"
                                       ng-change="selectRow($index)"
                                       icheck
                                       type="checkbox"
                                       ng-model="claim.selected">
                            </td>
                            <td>
                                {{claim.docNo || 'Not Set'}}
                            </td>
                            <td>
                                {{claim.customer.name || 'Not Set'}}
                            </td>
                            <td>
                                {{(claim.insurance.insuranceNumber | uppercase) || 'Not Set'}}
                            </td>
                            <td>
                                {{(claim.carrier.name | uppercase) || 'Not Set'}}
                            </td>
                            <td>
                                {{(claim.adjustment | uppercase) || 'Not Set'}}
                            </td>
                            <td>
                                {{(claim.creationDate | date) || 'Not Set'}}
                            </td>
                            <td>
                                <button ui-sref="customer.detail.step_six.edit({claim: {{claim.id}} })"
                                        class="btn-white btn btn-xs">Detalles
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="hr-line-dashed no-padding no-margins"></div>
            </div>
        </div>
    </div>
</div>