<div class="padding-30">
    <form role="form" ng-submit="save()">
        <fieldset ng-disabled="!edit">
            <div class="row" ng-show="customer.type !== 'EMPRESA'">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text"
                               id="name"
                               ng-model="customer.firstName"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="lastName">Apellido</label>
                        <input type="text"
                               id="lastName"
                               ng-model="customer.lastName"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="idCard">Cédula o Pasaporte</label>
                        <input type="text"
                               onkeypress="return event.charCode !== 45"
                               id="idCard"
                               ng-model="customer.idCard"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label" for="type">Tipo de Cliente</label>
                        <select ng-model="customer.type"
                                required="required"
                                class="form-control"
                                id="type">
                            <option selected="selected" value="PERSONA">PERSONA FÍSICA</option>
                            <option value="EMPRESA">ENTIDAD EMPRESARIAL</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="customer.type !== 'EMPRESA'">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="enterprise">Nombre Empresa</label>
                        <input type="text"
                               id="enterprise"
                               ng-model="customer.company"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="rnc">RNC</label>
                        <input type="text"
                               data-mask="9 99 99999 9"
                               id="rnc"
                               ng-model="customer.rnc"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="type2">Tipo de Cliente</label>
                        <select ng-model="customer.type"
                                required="required"
                                class="form-control"
                                id="type2">
                            <option selected="selected" value="PERSONA">PERSONA FÍSICA</option>
                            <option value="EMPRESA">ENTIDAD EMPRESARIAL</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="address">Direccion</label>
                        <input type="text"
                               required
                               id="address"
                               ng-model="customer.address"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="sector">Sector</label>
                        <input type="text"
                               required
                               id="sector"
                               ng-model="customer.sector"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label for="city">Ciudad</label>
                        <input type="text"
                               required="required"
                               id="city"
                               ng-model="customer.city"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label class="control-label" for="locality">Localidad</label>
                        <select ng-model="customer.locality"
                                required
                                class="form-control"
                                id="locality">
                            <option selected="selected" value="SANCRI">SAN CRISTOBAL</option>
                            <option value="HAINA">HAINA</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="cellPhone">Telefono Celular</label>
                        <input type="text"
                               data-mask="(999) 999 9999"
                               id="cellPhone"
                               ng-model="customer.cellPhone"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="homePhone">Telefono Residencial</label>
                        <input type="text"
                               data-mask="(999) 999 9999"
                               id="homePhone"
                               ng-model="customer.homePhone"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="workPhone">Telefono Laboral</label>
                        <input type="text"
                               data-mask="(999) 999 9999 Ext.? 9999"
                               id="workPhone"
                               ng-model="customer.workPhone"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input type="text"
                               id="email"
                               ng-model="customer.email"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="customerContact">Contacto Personal</label>
                        <input type="text"
                               id="customerContact"
                               ng-model="customer.customerContact"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="businessContact">Contacto de Trabajo</label>
                        <input type="text"
                               id="businessContact"
                               ng-model="customer.businessContact"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                    <div class="form-group">
                        <label for="notes">Notas</label>
                        <textarea id="notes"
                                  rows="1"
                                  ng-model="customer.notes"
                                  class="form-control no-resizeable">

                        </textarea>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label class="control-label" for="status">Estado de Cuenta</label>
                        <select ng-model="customer.status"
                                class="form-control"
                                id="status">
                            <option selected="selected" value="Activo">ACTIVO</option>
                            <option value="Cancelado">CANCELADO</option>
                        </select>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="hr-line-dashed"></div>

        <div class="row">
            <div ng-show="isEditMode" class="pull-left padding-bottom-20">
                <button class="btn btn-danger"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="deleteItem()"
                        type="button">
                    <i class="fa fa-trash"></i>
                    BORRAR
                </button>

                <button class="btn btn-warning"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="showAuditedItem()"
                        type="button">
                    <i class="fa fa-bug"></i>
                    AUDITAR
                </button>
            </div>
            <div class="pull-right padding-bottom-20">
                <button class="btn btn-success"
                        autofocus
                        ng-disabled="edit === true"
                        ng-click="edit = true"
                        type="button">
                    <i class="fa fa-pencil"></i>
                    EDITAR
                </button>
                <button class="btn btn-danger"
                        ng-disabled="edit === false"
                        ng-click="loadCustomer()"
                        type="button">
                    <i class="fa fa-warning"></i>
                    <span class="bold">
                CANCELAR
            </span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="edit === false"
                        type="submit">
            <span ng-show="loading">
                LOADING...
                <i class="fa fa-cog fa-spin btn-cog"></i>
            </span>
                    <span ng-hide="loading">
                GUARDAR
            </span>
                </button>
            </div>
        </div>
    </form>
</div>