<div class="padding-30">
    <form role="form" ng-submit="doSave()">
        <fieldset ng-disabled="!edit">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="docNo">Número de Reclamación</label>
                        <input type="text"
                               id="docNo"
                               ng-blur="validateMe()"
                               ng-enter="validateMe()"
                               ng-model="claim.docNo"
                               class="form-control">
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="inputDate">Fecha de Entrada</label>
                        <div class="input-group date">
                            <input type="datetime"
                                   id="inputDate"
                                   class="form-control"
                                   disabled
                                   date-time
                                   min-view="date"
                                   ng-model="claim.creationDate"
                                   view="date"
                                   auto-close="true">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Póliza</label>
                        <ui-select ng-disabled="!edit"
                                   ng-model="claim.insurance"
                                   ng-change="updateCarrier(claim.insurance)"
                                   theme="bootstrap">
                            <ui-select-match>{{$select.selected.insuranceNumber | uppercase}}</ui-select-match>
                            <ui-select-choices repeat="insurance in insurances | filter: $select.search">
                                <div ng-bind-html="insurance.insuranceNumber.toUpperCase() | highlight: $select.search"></div>
                                <small ng-bind-html="insurance.id | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="carrier">Compañía Aseguradora</label>
                        <input type="text"
                               disabled
                               id="carrier"
                               ng-model="claim.carrier.name"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="adjustment">Ajustador</label>
                        <input type="text"
                               id="adjustment"
                               ng-model="claim.adjustment"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="mechanical">Mecánico</label>
                        <input type="text"
                               id="mechanical"
                               ng-model="claim.mechanical"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Notas</label>
                        <textarea rows="2"
                                  title="Notes"
                                  ng-model="claim.notes"
                                  class="form-control">
                        </textarea>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div ng-hide="hidden" class="pull-left padding-bottom-20">
                <button class="btn btn-danger"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="deleteItem()"
                        type="button">
                    <i class="fa fa-trash"></i>
                    BORRAR
                </button>

                <button class="btn btn-warning"
                        ng-show="user.role === 'ADMIN'"
                        ng-click="showAuditedItem()"
                        type="button">
                    <i class="fa fa-bug"></i>
                    AUDITAR
                </button>
            </div>

            <div class="pull-right padding-bottom-20">
                <button class="btn btn-success"
                        ng-hide="hidden"
                        ng-disabled="edit === true"
                        ng-click="edit = true"
                        type="button">
                    <i class="fa fa-pencil"></i>
                    EDITAR
                </button>
                <button class="btn btn-danger"
                        ui-sref="customer.detail.step_six.list({id: {{customer.clientId}}})"
                        type="button">
                    <i class="fa fa-warning"></i>
                    <span class="bold">
                CANCELAR
            </span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="edit === false || loading"
                        type="submit">
            <span ng-show="loading">
                LOADING...
                <i class="fa fa-cog fa-spin btn-cog"></i>
            </span>
                    <span ng-hide="loading">
                GUARDAR
            </span>
                </button>
            </div>
        </div>
    </form>
</div>