<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" style="text-transform: capitalize; line-height: .5">{{userTitle}}</h4>
    </div>
    <div class="modal-body">
        <form id="user-form"
              role="form"
              ng-submit="saveCarrier()">
            <fieldset ng-disabled="!edit">
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text"
                                   required
                                   id="name"
                                   ng-model="carrier.name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="phone">Teléfono</label>
                            <input type="text"
                                   data-mask="(999) 999 9999"
                                   id="phone"
                                   ng-model="carrier.phone"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="code">Código</label>
                            <input type="text"
                                   id="code"
                                   ng-model="carrier.code"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="form-group">
                            <label for="contact">Contacto</label>
                            <input type="text"
                                   id="contact"
                                   ng-model="carrier.contact"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-success"
                    ng-disabled="edit === true"
                    ng-show="isEditMode"
                    ng-click="edit = true"
                    type="button">
                <i class="fa fa-pencil"></i>
                EDITAR
            </button>
            <button class="btn btn-danger"
                    ng-disabled="edit === false"
                    ng-click="uibModalInstance.close()"
                    type="button">
                <i class="fa fa-warning"></i>
                <span class="bold">
                        CANCELAR
                    </span>
            </button>
            <button class="btn btn-primary"
                    form="user-form"
                    type="submit">
                    <span ng-show="loading">
                        LOADING...
                        <i class="fa fa-cog fa-spin btn-cog"></i>
                    </span>
                <span ng-hide="loading">
                        GUARDAR
                </span>
            </button>
        </div>
    </div>
</div>

